pytest==8.3.3
pytest-cov==5.0.0
requests==2.32.3
PyYAML==6.0.2
ruff==0.6.8
mypy==1.11.2
types-requests==2.32.0.20241016
types-cryptography==3.3.23.2
pre-commit==4.0.1
black==24.10.0
isort==5.13.2
vulture==2.11
 pylint==3.3.1
