[Unit]
Description=Run pgBackRest full backup daily

[Timer]
OnCalendar=daily
OnCalendar=02:00
Persistent=true
AccuracySec=1min

[Install]
WantedBy=timers.target
